.coiny-regular {
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
}

footer {
    background-color: #87bb34;
    color: white;
}

nav {
    background-color: #87bb34;
    color: white;
}