.coiny-regular {
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

footer {
    background-color: #87bb34;
    color: white;
}

nav {
    background-color: #87bb34;
    color: white;
}

main {
    margin-top: 5.5rem;
}

.my-profil {
    font-size: 2rem;
}

.img-annonce {
    width: auto;
    height: 17rem;
    object-fit: cover;
    object-position: center;
}